.title-header {
    background-color: #6cccd6;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #dee2e6;
  }
  
  .title-header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #6fdee6;
  }
  
  .title-header p {
    margin: 0;
    font-size: 1.2em;
    color: #1dc3c9;
  }
  